html {
  //background: url('/images/bg_compass.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#copayana_logo{
    width: 12%;
}

.bottomline{
color: #787d7d;
font-family: serif;
}

.banner-message{
    /* color: #787d7d */
    margin:3%;
    /*font-family: initial;*/
    /* position: absolute; */
    top: 12%;
    left: 12%;
    color: #5f5757;
    font-family: initial;
    /* font-size: 30px; */
    /* transform: translate(-0%, -0%); */
    /* top: 10%; */
    /* margin-top: 5%; */
    }

#banner-container{

}

#banner-img{
width:100%
}

#login-module{
    margin: 10% 35%;
}

.title{
    color: antiquewhite;

}

#login-label{
    color: #f9cc16;
}

/*
#gbutton{
margin-left: 42% !important;

}*/

.g-signin2s{
margin-left: 40%;
}


h5.wish-name {
color: #9a9456;
margin: 3% 1%;
}

#trips{
     margin: 3%;
}

#find-trips{
     margin: 2%;
}
#trips h3{
    font-size: 200%;
    color: #9a9556;
    font-family: serif;
    margin: 2%;
}

/*

.trip-list{
    margin: 20% 10% 20% 10%;
}

*/


#trips thead tr{
    color: #dee2e6;
    background-color: #343a40 !important;
    font-family: serif;
}

#find-trips thead tr{
    color: #dee2e6;
    background-color: #343a40 !important;
    font-family: serif;
}

#trips thead tr th{
   padding: 2%;
 }

tr.aroww{
color: #13426b;
  padding: 2%;
   background-color: #c3cfda;
   font-family: "DejaVu Sans", sans-serif;
}


tr.roww{
    color: #677134;
  padding: 2%;
   background-color:#FFFFFF;
   font-family: "DejaVu Sans", sans-serif;
}


tr td{
   padding: 1.5%;
 }

/*
 @media all and (max-width: 1200px) { /* screen size until 1200px
     body {
         font-size: 1.5em; /* 1.5x default size
     }
 }

 */
 @media all and (max-width: 1000px) { /* screen size until 1000px */

         .banner-message{
         font-size: 1.5em;
         margin:3%;
         }
     }

 @media all and (max-width: 500px) { /* screen size until 500px */

    /* body {
         font-size: 0.8em; /* 0.8x default size
         } */

         .banner-message{
         font-size: 1.2em;
         }
     }



/*
 tr.roww:nth-child(odd){
   padding: 2%;
   background-color: #antiquewhite;
   font-family: "DejaVu Sans", sans-serif;
   font-weight: bold;
 }
*/

table {
    width: 100% !important;
}

/*
#trips table tr{
  font-family: "DejaVu Sans", sans-serif;
  font-weight: bold;
  padding: 2%;
  list-style-type: none;
}

tbody tr:nth-child(odd){
    color: beige;
    background-color: #343a40;
}

*/


#trips ul li {
  font-family: "DejaVu Sans", sans-serif;
  font-weight: bold;
  padding: 2%;
  list-style-type: none;
}

#trips ul li:nth-child(odd) {
    color: beige;
    background-color: #343a40;
    }

/*


#search-bar{
    margin: 4% 5% 5% 4%;

}
*/

#legend-name{
    font-size: 200%;
    color: #9a9556;
    font-family: serif;
    /* margin: 2%; */
    padding: 1.5%;
}

#trips-add{
/* : 5% 1% 0% 5% */
}

#add-trip-result{
    color: #f8f9fa;
    margin: 2%;
    background: #9a9556;
    padding: 2.5%;
}

label.search{
padding-left:3%
}

#contact-content{
    margin-top: 5%;
}

#error-content{
margin: 3%

}

#pro-pic{

}

#copayana_center{
width:300px
}

.contact-email{
    color: #9a9556;
    font-size: 25px !important;
}

.navbar-brand{
    color: #e6df7a !important;
}

.autocomplete-result:hover{
    background: #B9DCEB;

}

.tap-cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #abab95;
    color: #fff;
    padding: 1px;
    z-index: 9999999999;
}



/* modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
color: #839212;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
    margin-left: 90%;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* modal end */


#home-content{
    margin: 2%;
    color: #4a4e0d;
    font-family: serif;
}