<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find your travel companion">
    <meta name="author" content="travel, companion">

    <title>COPAYANA</title>

    <!-- Bootstrap core CSS -->
    <link href="bs/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bs/vendor/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="579504878975-0l8ngko4cf3nnhp71qqj8hpuiu2e1aik.apps.googleusercontent.com">

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <!--<script src="js/home.js"></script>-->
    <script th:src="@{js/home.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>


</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img id="copayana_logo" src="/images/logo/copayana_logo_black_small.png" alt=""></img>CO PAYANA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addTrip">Add Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/findTrip">Find Trip</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/contactUs">Contact us</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/logout" onclick="signOut();">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!--<h3 class="wish-name">Hello, [[${message}]]</h3>-->

    <!--<div id="add-trip-result"></div>-->

    <!-- Modal content -->

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span id="add-trip-modal-close" class="close" onclick="closeAddResponseModal()">&times;</span>
            <p id="add-response-info"></p>
        </div>

    </div>


    <div id="trips-add" class="trip-list">

        <div id="add-trip">

            <form class="form-horizontal" action="javascript:addTrip_wrapper();">
                <fieldset>

                    <!-- Form Name -->
                    <legend id="legend-name">Add Your Trip</legend>

                    <div id="home-content">
                        <div class="trip-type">

                        Add your trip with below information. This will help travellers to find a matching trip and connect with you!
                        </div>
                        <br>
                        <p> For better chances of getting companions, add starting location, final destination and transits as separate trips.
                         For example, If you are travelling from New York to Australia via London, add trips like
                        <ul>
                                <li>New York to Australia [End to End Trip]</li>
                                <li>New York to London [Transit Trip]</li>
                                <li>London to Australia [Transit Trip]</li>
                        </ul></p>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="trip-from">From*</label>
                        <div class="col-md-4">
                            <input id="trip-from" name="trip-from" type="text" placeholder="City or Airport" class="form-control input-md text-uppercase" minlength="3" maxlength="30" required="" autocomplete="off">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="trip-to">To*</label>
                        <div class="col-md-4">
                            <input id="trip-to" name="trip-to" type="text" placeholder="City or Airport" class="form-control input-md text-uppercase" minlength="3" maxlength="30" required="" autocomplete="off">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="trip-date">Start Date (optional)</label>
                        <div class="input-group date form_date col-md-4" data-date="" data-date-format="dd MM yyyy" data-link-field="trip-date" data-link-format="yyyy-mm-dd">
                            <input id="trip-date1" name="trip-date1" type="text" placeholder="" class="form-control" maxlength="16" size="16" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                        </div>
                        <input type="hidden" id="trip-date" value="" /><br/>
                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label" for="trip-with">Airways</label>
                        <div class="col-md-4">
                            <select id="airways" name="airways" class="form-control" onchange="showAirwaysText();" >
                                <option value=""></option>
                                <option value="American">American</option>
                                <option value="Air Canada">Air Canada</option>
                                <option value="Air India">Air India</option>
                                <option value="British">British</option>
                                <option value="Cathay">Cathay</option>
                                <option value="Emirates">Emirates</option>
                                <option value="Etihad">Etihad</option>
                                <option value="Lufthansa">Lufthansa</option>
                                <option value="Qatar">Qatar</option>
                                <option value="Singapore">Singapore</option>
                                <option value="United">United</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <input id="other_airways" name="other_airways" type="text" placeholder="Airways Name" class="form-control input-md" style="display:none;" maxlength="10" >
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="trip-with">With</label>
                        <div class="col-md-4">
                            <select id="trip-with" name="trip-with" class="form-control">
                                <option value="Alone">Alone</option>
                                <option value="Infant">Infant</option>
                                <option value="Kids">Kids</option>
                                <option value="Elders">Elders</option>
                                <option value="Family">Family</option>
                                <option value="Specially challenged">Specially challenged</option>
                                <option value="">Never mind</option>
                            </select>
                        </div>
                    </div>

                    <!-- Multiple Checkboxes -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" id="trip-box">Choose if apply: </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label for="trip-box-0">
                                    <input type="checkbox" name="trip-box-0" id="trip-box-0" value="1">
                                    Booked tickets?
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="trip-box-1">
                                    <input type="checkbox" name="trip-box-1" id="trip-box-1" value="2">
                                    Is this your final destination?
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="trip-box-2">
                                    <input type="checkbox" name="trip-box-2" id="trip-box-2" value="3">
                                    Ready to take small package?
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="notes">Notes</label>
                        <div class="col-md-4">
                            <textarea id="notes" name="notes"  class="form-control input-md" rows="3" cols="50" maxlength="150" placeholder="Please add any special info or requests"></textarea>
                        </div>
                    </div>
					
					<p id="disclaimer" class="disclaimer">DISCLAIMER:  <i>On clicking Add button, you agree to use your submitted data for communication.</i></p>
					
                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="add-button"></label>
                        <div class="col-md-8">
                            <button id="add-button" name="add-button" class="btn btn-success" >Add</button>
                            <button id="reset-button" name="reset-button" class="btn btn-info" onclick="reset();restAll()">Reset</button>
                        </div>
                    </div>

                </fieldset>
           
            </form>

			

        </div>

    </div>




    <div id="bottom-bar" class="row">
        <div class="col-lg-12 text-center">

            <p class="lead bottomline"> Happy and Safe Journey!</p>

            <hr>

            <div id="footer"><a href="/faqs.html">FAQs</a> | <a href="/privacy.html">Privacy</a> | <a href="/tnc.html">Terms</a>
                | <a href="/contact-us.html" >Contact us</a> | © 2020 Copayana. All rights reserved
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="bs/vendor/jquery/jquery.slim.min.js"></script>
<script src="bs/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!--<form id="authcon-form" method="POST" action="/home"></form>-->
</body>


<!--<script type="text/javascript" src="bs/vendor/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>-->
<script type="text/javascript" src="bs/vendor/jquery/jquery-1.9.1.js" charset="UTF-8"></script>
<script type="text/javascript" src="bs/vendor/bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<!--<script type="text/javascript" src="bs/vendor/bootstrap/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>-->
<script type="text/javascript" src="bs/vendor/bootstrap/js/bootstrap.min.js"></script>


<script type="text/javascript">

 $(document).ready(function(){

var date = new Date();
date.setDate(date.getDate());

 $('.form_date').datetimepicker({
        //language:  '',
        startDate: date,
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });

    });

function resetAll(){
document.getElementById("trip-date").value = "";
}

</script>

<script th:inline="javascript">

/*<![CDATA[*/
var email = /*[[${email}]]*/ 'default';
console.log(email);
/*]]>*/

function addTrip_wrapper(){

var id = localStorage.getItem("data-id");
addTrip(id);

}

function reset(){

}


</script>
<script>
    AirportInput("trip-from");
    AirportInput("trip-to");


    </script>
</html>