<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Looking for a travel companion? You are at the right place to find one. This is not a dating or finding partner website. This is legitimately for the people who seeks travel companions who are ready to help each other, have healthy discussions, share humanity and more...">
    <meta name="author" content="travel, companion">

    <title>COPAYANA</title>

    <!-- Bootstrap core CSS -->
    <link href="bs/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="579504878975-0l8ngko4cf3nnhp71qqj8hpuiu2e1aik.apps.googleusercontent.com">

    <script src="js/app.js"></script>
    <script src="js/home.js"></script>

    <link rel="stylesheet" href="css/main.css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">

    <link rel="shortcut icon" type="image/png" th:href="@{images/favicon.ico}"/>
    <!--<script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>-->
    <script src="js/index.browser.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div id="sign" class="container">
        <a class="navbar-brand" href="/"><img id="copayana_logo" src="/images/logo/copayana_logo_black_small.png"
                                              alt="">CO PAYANA</a>
        <span class="g-signin2 gsign-button" onclick="ClickLogin()" data-onsuccess="onSignIn"></span>
    </div>
</nav>

<div id="banner-container">
    <!--<img id="banner-img" src="/images/banner/copayana-bg1-small.png" alt="">
    <div class="banner-message ml3">Finding travel companion made easy! </div>-->

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
            <li data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/images/flight_wing.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Finding travel companion made easy!</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/flight_seat.png" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Little help makes a big difference</h1>

                </div>

            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/flight_bird.png" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <!--<h1>We rise above by lifting others</h1>-->
                    <h1>Travelling together is always fun</h1>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>

<div id="land-content">

    <h2>Looking for a travel companion? </h2>

    <p> You are at the right place to find one.
        This is for travellers who seeks travel companions, ready to help each other, have healthy
        discussions, share humanity and even more...
    </p>

    <!--<div id="quick-find">Quick Find</div>-->
    <!--<hr>-->

    <p>  Search for travellers on your route.</p>

    <div id="search-bar" class="search-module-out">

        <form class="form-horizontal" action="javascript:findTripOpen();">
            <fieldset class="open">

                <div class="form-row">
                    <label class="search control-label-open" for="src">From*</label>
                    <div class="col-md-4">
                        <input type="text" id="src" class="form-control input-md text-uppercase" onfocus="this.value='';resetOpenAll()" placeholder="City or Airport" minlength="3" maxlength="30" autocomplete="off" required="">
                    </div>
                    <label class="search control-label-open" for="dest">To*</label>

                    <div class="col-md-4">
                        <input type="text" id="dest" class="form-control input-md text-uppercase" onfocus="this.value='';resetOpenAll()" placeholder="City or Airport" minlength="3" maxlength="30" autocomplete="off" required="">
                    </div>
                    <!--<div class="col-md-4">-->
                    <!--<button id="button1id" name="button1id" class="btn btn-success" >FIND</button>-->
                    <!--<button id="reset-button" name="reset-button" class="btn btn-info" onclick="reset();resetAll()">Reset</button>-->
                    <!--</div>-->

                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div id="quick-find-btn">
                        <button id="button1id" name="button1id" class="btn btn-success" >FIND</button>
                        <button id="reset-button" name="reset-button" class="btn btn-info" onclick="reset();resetOpenAll()">Reset</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

    <div id="find-trips-open" class="trip-list"></div>

    <div id="features">Features</div>
    <hr>

    <div class="sub-head">
        Login with your Google account using <a id="sign-lnk" href="#sign">sign in</a> button on top to get started and find companion. Good luck!
    </div>

    <div id="help-content">
        <ul>

            <!--<img src="/images/icon/searht.jpg">-->
            <li><img class="ic" src="/images/icon/fly1.png"> You can add your upcoming trips, let others find and reach you if they travel same route.
                <hr>
            </li>

            <li><img class="ic" src="/images/icon/search-icon.png"> You can find a companion for you or your loved ones from
                hundreds of travellers.

            </li>

        </ul>

    </div>


    <div  class="banner-note" id="message"><img id="alert-img" src="/images/icon/alert.png"/>Please be aware of <b>Corona virus</b> and plan your travel transits accordingly. We feel sad for infected people
        and wish them speedy recovery. We recommend all travellers to take preventive measures like wearing face masks, using sanitizers frequently and following
        healthy hygiene. For more info check <a href="https://www.who.int/health-topics/coronavirus">WHO</a> </div>

    For any queries, please send email to <a href="#"><span class="contact-us">contact.copayana@gmail.com</span></a>


</div>

<hr>

<!-- Page Content -->
<div class="container">

    <div id="bottom-bar" class="row">

        <div class="col-lg-12 text-center">

            <div id="footer"><a href="/faqs.html">FAQs</a> | <a href="/privacy.html">Privacy</a> | <a href="/tnc.html">Terms</a>
                | <a href="/contact-us.html" >Contact us</a> | © 2020 Copayana. All rights reserved
            </div>

            <div id="login-module">
                <form id="login-auth" name="login-auth-form" action="/authcon" method="POST">
                    <input id="x-app-token-param" name="app-token" type="hidden" value="">
                </form>
            </div>

        </div>
    </div>




</div>


<div class="tap-cookie-banner" style="">
    <div><p>This website uses cookies to help improve your experience and support functionality. By continuing, you
        acknowledge and accept. <a href="/privacy.html">Privacy Policy</a><a href="#" class="button"></a></p></div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="bs/vendor/jquery/jquery.slim.min.js"></script>
<script src="bs/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>


<script type="text/javascript">

    AirportInput("src");
    AirportInput("dest");

</script>



</html>
