<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Looking for a travel companion? You are at the right place to find one. This is not a dating or finding partner application. This is legitimately for the people who seeks travel companions ready to help each other, have healthy discussions, share humanity and more...">
    <meta name="author" content="travel, companion">

    <title>COPAYANA</title>

    <!-- Bootstrap core CSS -->
    <link href="bs/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="579504878975-0l8ngko4cf3nnhp71qqj8hpuiu2e1aik.apps.googleusercontent.com">

    <script src="js/app.js"></script>
    <script src="js/home.js"></script>

    <link rel="stylesheet" href="css/main.css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">

    <link rel="shortcut icon" type="image/png" th:href="@{images/favicon.ico}"/>
    <script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img id="copayana_logo" src="/images/logo/copayana_logo_black_small.png"
                                              alt="">CO PAYANA</a>
        <span class="g-signin2 gsign-button" onclick="ClickLogin()" data-onsuccess="onSignIn"></span>
    </div>
</nav>

<div id="banner-container">
    <img id="banner-img" src="/images/banner/copayana-bg1.png" alt="">
    <div class="banner-message">Finding travel companion made easy! </div>


</div>

<div id="land-content">

    <h4>Looking for a travel companion? </h4>

    <p> You are at the right place to find someone.
        This is legitimately for the people who seeks travel companions, ready to help each other, have healthy
        discussions, share humanity and more...
    </p>

    <div class="sub-head">
        Login with your Google Account and let your co-travellers know who you are to build Trust - a wonderful word!
    </div>

    <div id="help-content">
        <ul>

            <!--<img src="/images/icon/searht.jpg">-->
            <li><img class="ic" src="/images/icon/fly1.png"> Add your upcoming Trips and let others know to reach you
                for companion when they have matching trips.
            </li>

            <li><img class="ic" src="/images/icon/search-icon.png"> Find a companion for you or your loved ones who has
                travel plan



            </li>

        </ul>

    </div>


    <div id="search-bar" class="search-module">

        <form class="form-horizontal" action="javascript:findTripOpen();">
            <fieldset>

                <div class="form-row">
                    <label class="search control-label-open" for="src">From*</label>
                    <div class="col-md-4">
                        <input type="text" id="src" class="form-control input-md text-uppercase" placeholder="City or Airport" minlength="3" maxlength="30" autocomplete="off" required="">
                    </div>
                    <label class="search control-label-open" for="dest">To*</label>

                    <div class="col-md-4">
                        <input type="text" id="dest" class="form-control input-md text-uppercase" placeholder="City or Airport" minlength="3" maxlength="30" autocomplete="off" required="">
                    </div>
                    <!--<div class="col-md-4">-->
                    <!--<button id="button1id" name="button1id" class="btn btn-success" >FIND</button>-->
                    <!--<button id="reset-button" name="reset-button" class="btn btn-info" onclick="reset();resetAll()">Reset</button>-->
                    <!--</div>-->

                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div>
                        <button id="button1id" name="button1id" class="btn btn-success" >FIND</button>
                        <button id="reset-button" name="reset-button" class="btn btn-info" onclick="reset();resetOpenAll()">Reset</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

    <div id="find-trips-open" class="trip-list"></div>


    For any queries, please send email to <a href="#"><span class="contact-us">contact.copayana@gmail.com</span></a>


</div>

<hr>

<!-- Page Content -->
<div class="container">

    <div id="bottom-bar" class="row">

        <div class="col-lg-12 text-center">

            <div id="footer"><a href="/faqs.html" target="_blank">FAQs</a> | <a href="/privacy.html" target="_blank">Privacy</a> | <a href="/tnc.html" target="_blank">Terms</a>
                | <a href="/contact-us.html" target="_blank">Contact us</a> | © 2020 Copayana. All rights reserved
            </div>

            <div id="login-module">
                <form id="login-auth" name="login-auth-form" action="/authcon" method="POST">
                    <input id="x-app-token-param" name="app-token" type="hidden" value="">
                </form>
            </div>

        </div>
    </div>




</div>


<div class="tap-cookie-banner" style="">
    <div><p>This website uses cookies to help improve your experience and support functionality. By continuing, you
        acknowledge and accept. <a href="/privacy.html">Privacy Policy</a><a href="#" class="button"></a></p></div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="bs/vendor/jquery/jquery.slim.min.js"></script>
<script src="bs/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>


<script type="text/javascript">

    AirportInput("src");
    AirportInput("dest");

</script>



</html>
